[user]
	useConfigOnly = true
[pager]
	branch = false
[init]
	defaultBranch = main
[alias]
	b = branch
	s = status
	a = add
	cm = commit --message
	acm = commit --all --message
	cam = commit --amend --message
	co = checkout
	sw = switch
	swc = switch --create
	empty = commit --allow-empty --message 'empty'
	difff = diff --relative --name-only
	diffh = diff --histogram
	diffw = diff --histogram --word-diff --word-diff-regex='\\w+|[^[:space:]]'
	logo = log --oneline -n 10
