[user]
	useConfigOnly = true
[pager]
	branch = false
[init]
	defaultBranch = main
[alias]
	b = branch
	s = status
	cm = commit --message
	acm = commit --message --all
	cam = commit --amend --message
	empty = commit --allow-empty --message 'empty'
	difff = diff --relative --name-only
	diffh = diff --histogram
	diffw = diff --histogram --word-diff --word-diff-regex='\\w+|[^[:space:]]'
	logo = log --oneline -n 10
